h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.brand {
  display: block;
  width: 130px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.nav-menu {
  margin-top: 7px;
  float: left;
}

.nav-item {
  color: #fff;
  text-transform: uppercase;
}

.navbar {
  background-color: hsla(0, 0%, 39%, .5);
}

.bgvid {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.background-video {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.div-block {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 100px;
  text-align: center;
}

.heading {
  position: relative;
  left: 295px;
  top: -4px;
  bottom: 44px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-1 {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-1.grey {
  background-color: #757575;
}

.h2 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.small-links-wrapper {
  margin-top: 20px;
}

.small-link {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.div-block-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding-bottom: 20px;
}

.footer-link {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link.with-border {
  padding-left: 15px;
  border-left: 1px solid #fff;
}

.section {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}

.video-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  color: rgba(49, 161, 56, .8);
}

.video-column {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-2 {
  float: right;
  border-radius: 10px;
}

.watch-live {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: right;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(216, 158, 39, .8);
  border-radius: 20px;
  background-color: rgba(49, 161, 56, .8);
  text-align: left;
  text-transform: uppercase;
}

.sched-list {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px none #fff;
}

.section-2 {
  background-color: hsla(0, 0%, 39%, .5);
}

.section-3 {
  height: 400px;
  background-image: url('../images/rsz__mgl9221.jpg');
  background-position: 50% 62%;
  background-size: cover;
  background-repeat: repeat;
}

.image {
  padding-top: 6px;
}

.heading-2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.sched-text {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
  color: #fff;
  text-align: center;
}

.column {
  display: inline-block;
}

.logo-column {
  background-image: url('../images/Government-of-Ontario.png');
  background-position: 0px -18px;
  background-size: cover;
}

.logo-column.ontario {
  background-image: none;
}

.logo-column.iboost {
  background-image: none;
}

.logo-column.eyeopener {
  background-image: none;
}

.logo-column.betakit {
  background-image: none;
}

.logo-column.woodbine {
  background-image: none;
}

.sched-column {
  top: 18px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, .61);
}

.text-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.date-and-time {
  position: relative;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.image-2 {
  position: relative;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 1px;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 0px;
}

.image-5 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-6 {
  padding-top: 0px;
}

.image-7 {
  padding-top: 9px;
  padding-bottom: 0px;
}

.image-8 {
  padding-top: 15px;
}

.section-h1 {
  text-align: center;
  text-transform: uppercase;
}

.section-h1.keep-in-touch {
  background-color: transparent;
  color: #fff;
}

.section-h1.keep-in-touch.white {
  color: #fff;
}

.image-9 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-10 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.column-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sports-logo-column {
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-11 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.channel-logos {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
}

.coming-soon {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.sign-up-to-stream-button {
  position: relative;
  top: -5px;
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(216, 158, 39, .8);
  border-radius: 20px;
  background-color: rgba(216, 158, 39, .8);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.sign-up-to-stream-button.adjust {
  margin-top: 11px;
}

.sign-up-to-stream-button.social {
  left: 0px;
  top: -55px;
  right: 0px;
}

.image-12 {
  border-radius: 0px;
}

.div-block-4 {
  padding-top: 0px;
  padding-bottom: 26px;
  border: 1px none #000;
  background-color: rgba(49, 161, 56, .8);
  box-shadow: 0 0 50px 2px rgba(216, 158, 39, .8);
}

.section-4 {
  border-style: solid;
  border-color: transparent;
}

.heading-3 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
}

.heading-4 {
  position: relative;
  left: 0px;
  top: -164px;
  right: 0px;
}

.keep-in-touch {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: rgba(49, 161, 56, .8);
  text-align: center;
}

.text-field {
  border-radius: 20px;
}

.sign-up {
  margin-top: 15px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}

.h2-footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: #fff;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.video {
  box-shadow: 0 0 50px 4px rgba(216, 158, 39, .8);
}

.row {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.html-embed {
  overflow: hidden;
}

.container-2 {
  overflow: hidden;
}

.twitter-feed-container {
  overflow: hidden;
  height: 250px;
}

.html-embed-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .sign-up-to-stream-button {
    border-width: 4px;
    border-color: rgba(216, 138, 39, .8);
  }
  .div-block-4 {
    box-shadow: 0 0 50px 3px rgba(216, 158, 39, .8);
  }
  .image-13 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .mobile-heading {
    color: #656464;
    text-align: center;
    text-transform: uppercase;
  }
  .mobile-heading.sign-up {
    color: #fff;
  }
  .value-prop-mobile {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #656464;
  }
  .video {
    box-shadow: 0 0 50px 3px rgba(216, 158, 39, .8);
  }
  .column-5 {
    position: static;
    border-style: none;
  }
}

@media (max-width: 479px) {
  .video-section.mobile {
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .watch-live.mobile {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    margin-top: -48px;
    text-align: center;
  }
  .sign-up-to-stream-button {
    border: 0px none #d89e27;
    background-color: rgba(216, 158, 39, .8);
  }
  .div-block-4 {
    border-style: none;
    border-width: 2px;
    box-shadow: 0 0 50px 0 rgba(216, 158, 39, .8);
  }
  .div-block-5 {
    position: relative;
    top: 63px;
  }
  .div-block-6 {
    background-color: rgba(49, 161, 56, .8);
  }
  .image-13 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .div-block-7 {
    background-color: #fff;
  }
  .heading-5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .heading-6 {
    text-align: center;
  }
  .mobile-heading {
    color: #656464;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .mobile-heading.sign-up {
    color: #fff;
  }
  .unordered-list {
    margin-top: 4px;
    color: #656464;
  }
  .value-prop-mobile {
    -webkit-perspective: 1786px;
    perspective: 1786px;
    font-family: Exo, sans-serif;
  }
  .column-4 {
    border-style: none;
    border-width: 0px 1px 1px;
    border-color: #000;
  }
  .video {
    box-shadow: 0 0 50px 4px rgba(216, 158, 39, .8);
  }
  .column-5 {
    border-style: none;
    box-shadow: none;
  }
  .body {
    border-style: none;
  }
}

